<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.example.xml.bootiful.aot.MessageProducer" name="messageProducer" />

    <bean class="com.example.xml.bootiful.aot.AnnouncingApplicationRunner">
        <property name="messageProducer" ref="messageProducer" />
        <!--        <constructor-arg name="message" type="java.lang.String" value="Hello XML"/>-->
    </bean>
</beans>
